<div id="page_wrapper">
  <div id="profile_image">
    Profile
  </div><br>

  <div id="content">
    <h1>Hi, I'm Kristina Martinez</h1>
    <p>Welcome to this blog app</p>
    <p>It is from Week 2 of a 12 apps in 12 weeks challenge.</p>
  </div>
</div>